html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
* { margin: 0; padding: 0px; }


body {
  background: #9A857A;
}

h1,h2,h3,h4,h5,h6 {
  font-family:sans-serif;
}

#renderCanvas {
  z-index: -500;
  display: block;
  margin: 0 auto;
  touch-action: none;
}
/*.cash-pool,.core-pool, .title {
  position: absolute;
}*/

.title {
  position: absolute;
}
span {
  display: block;
}
/*#logo {display:none;}*/

.title {
  top: 5px;
  left: 5px;
  width: 300px;
}
.title img {
  max-width: 100%;
}
.title h2 {
  font-size: 17px;
  color: #231F20;
  margin-top: 5px;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
  line-height:1;
  margin-bottom:0;
  padding-bottom:0;
}

.nav {
  left:0;
  top:100px;
  position:absolute;
  display:block;
}
@-moz-document url-prefix() { 
    .nav {top:92px;}
  }
.nav a {
  display:block;
  cursor:pointer;
  vertical-align:top;
  margin:7px 0px 20px 10px;
}

.nav a:hover i, .nav a:focus i {
  color:#149347;
}
.nav i {
  color:#fff;
  font-size:1.7rem;
  padding:0px;
}

.core-nav {
  left:0;
  top:405px;
  position:absolute;
  display:block;
}
.core-nav a {
  display:block;
  margin:0px 0px 5px 10px;
  cursor:pointer;
  vertical-align:top;
  line-height:1;
}

@-moz-document url-prefix() { 

  .core-nav {top:425px;}


}

.core-nav a:hover i, .core-nav a:focus i {
  color:#1D83A1;
}
.core-nav i {
  color:#fff;
  font-size:1.7rem;
  padding:0;
}

#modal-search fieldset {
  display:inline;
  width:45%;
  margin-right:1.5%;
  margin-top:10px;
  margin-bottom:5px;
  padding:5px;
}

#modal-settings fieldset {
  border:0px;
}
#modal-settings fieldset{
  text-align:center;
}

#modal-settings fieldset label {
display:block;
color:#444;
}
#modal-settings fieldset input {
  padding:2px 5px;
  /*border-radius:3px;*/
  box-shadow:none;
}

/*shoutout to the modal switcher here: https://jsfiddle.net/jnwrc5ay/245/*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*padding-top: 100px; */
    left: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    z-index:9999;
    /*background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); */
}

/* Modal Content */
.modal-content {
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 15px 27px 0 rgba(0,0,0,0.3), 0 4px 38px 0 rgba(0,0,0,0.39);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    bottom:0;
    left:10%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {bottom:-300px; opacity:0} 
    to {bottom:0; opacity:1}
}
@keyframes animatetop {
    from {bottom:-300px; opacity:0}
    to {bottom:0; opacity:1}
}

@keyframes animateleft {
  from{left:-300px; opacity:0}
  to {left: 55px; opacity: 1}
}


/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content .modal-header {
    padding: 2px 16px;
    background-color: #F0952D;
    color: white;
}
.modal-content .modal-header p {
  margin: 5px 0 10px;
  font-size: 12px;
}
.modal-content .modal-header h2 {margin:10px 0 5px; padding:0; font-size:1.3rem; letter-spacing:1px;}
.modal-body {padding: 2px 16px;}
.modal-footer {
    padding: 2px 16px;
    background-color: #F0952D;
    color: white;
}

.modal-footer h3 {
  padding:0; margin:8px 0;
  font-size:0.8rem;
}

.modal-footer a, .modal-footer a:visited {
  color:#149347;
  text-decoration:none;
}

.modal-footer a:hover {
  text-decoration: underline;
}

table {
    table-layout: fixed;
    width: 100%;
    /*white-space: nowrap;*/
    text-align:left;
}
table thead th.col-type {
  width:60%;
  padding:0 0 0 1.5rem;
}

table thead th.col-val {
  width:40%;
  text-align:left;
}

table tr td img {
  max-height:70px;
  padding:0;
}

table tr td h6 {
  font-size:1.1rem;
  margin:0;

}

.qmark {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 3rem;
}

#modal-donate .qr {
  float:left;
  width:120px;
  padding:1rem 2rem 1rem 0;
}
#modal-donate .modal-body p.label {
  background:#eee;
  border-radius:3px;
  line-height:1;
  padding:0.5rem;
  float:left;
  text-align:center;
}

#modal-donate .modal-body p {
  margin:1.5rem 0 0.5rem;
}
#modal-donate .modal-footer {
  clear:both;
}






.lane-size {
  position: absolute;
  right: 2px;
  color: #c2c2c2;
  font-size: 16px;
  text-transform: uppercase;
  z-index: 2;
  font-family: sans-serif;
}
.lane-size.one {
  top: 3%;
}
.lane-size.two {
  top: 10%;
}
.lane-size.three {
  top: 17%;
}
.lane-size.four {
  top: 24%;
}
.lane-size.five {
  top: 32%;
}
.lane-size.six {
  top: 39%;
}
.lane-size.seven {
  top: 46%;
}
.lane-size.eight {
  top: 53%;
}
.lane-size.one-core {
  top: 67%;
}
.lane-size.two-core {
  top: 74%;
  text-decoration: line-through;
}
.block {
  position: absolute;
  top: 72.5%;
  z-index: 2;
  background: url('assets/bg/block.png') no-repeat;
  background-size: 50%;
  width: 27px;
  height: 110px;
}
.block.one {
  left: 55px;
}
.block.two {
  right: 55px;
}

.caution {
  position: absolute;
  z-index: 2;
  background: url('assets/bg/caution.png') no-repeat;
  background-size: 50% 50%;
  width: 40px;
  height: 40px;
}
.caution.one {
  top: 73.5%;
  left: 20px;
}

.caution.two {
  top: 73.5%;
  right: 20px;
}

.no2x {
  position: absolute;
  z-index: 2;
  background: url('assets/bg/no2x.png') no-repeat;
  background-size: 55%;
  width: 48px;
  height: 48px;
}

.no2x.one {
  top: 72.5%;
  left: 85px;
}

.no2x.two {
  top: 72.5%;
  right:85px;
}


.ln {
  position:absolute;
  bottom:0px;
  left:0;
  width:100%;
  height:15%;
  width:100%;
  background:url('assets/bg/ln.png') no-repeat;
  background-size: contain;
}
.options {
  top: 10px;
  right: 10px;
}

.two-col {
    width:46%;
    float:left;
    padding:5px 10px;
    text-align:center;
}
.two-col img, img.logo-label {
  width:60px;
}

.two-col h3 {font-size:1rem;}

.full-col {
  width:auto;
  clear:both;
  padding:5px 10px 10px;
}


/*
.cash-pool {
  bottom: 37.6%;
  right: 0;
  text-align: center;
  background-color: greenyellow;
  z-index:99;
}

.core-pool {
  right: 0;
  bottom: 0%;
  text-align: center; 
  background-color: white;
  z-index:4;
}*/

span.divider {
  background: url('assets/bg/divider.png') repeat-x;
  background-size: 50% 50%;
  width: 100%;
  height: 7%;
  position: absolute;
  top: 57%;
  left: 0;
  z-index: 8;
}
.bitcoin-cash {
  background: #9EA0A3 url('assets/bg/bitcoin-cash-logo.png') no-repeat center 69%;
  background-size: 21.5%;
  height: 57%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.bs {
  background: #9EA0A3 url(assets/bg/bs.png) no-repeat center 0;
  background-size: 18.5%;
  height: 14.4%;
  width: 100%;
  position: absolute;
  bottom: 21.4%;
  left: 0;
  z-index: -1;
}

.cash-road-sign  {
  left:40px;
  right:auto;
}

.core-road-sign.road-sign {
  /*bottom:9%;*/
}

.road-sign {
  border: 2px solid #245934;
  border-radius: 10px;
  position: absolute;
  right: 40px;
  bottom: 35%;
  z-index: 99;
  width: 250px;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.3);
}

.road-sign .sign-border {
  background: #245934;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 0.2em;
}
.road-sign .highway-num {
  color: #F9D536;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 0.7em;
  position: absolute;
  left: 10px;
  top: 16px;
  margin: 0;
}
.road-sign .sign-title {
  color: #245A35;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 0.7em;
  background: #fff;
  border-radius: 3px;
  line-height: 1;
  padding: 2px;
  width: 75%;
  position: absolute;
  right: 10px;
  top: 7px;
  margin: 0;
  display: inline-block;
  text-align: center;
}

/*.road-sign .sign-title .censored {
      position: absolute;
    top: 4px;
    left: 47px;
    z-index: 100;
    background: url(assets/bg/c1.png) no-repeat center center;
    width: 100px;
    height: 9px;
    background-size: 100%;
}*/

.road-sign .sign-title .censored {
     position: absolute;
    top: 0px;
    left: 41px;
    z-index: 100;
    background: #231F20 url(assets/bg/c2.png) no-repeat center center;
    width: 109px;
    height: 11px;
    background-size: 100%;
    transform: rotate(3deg);
    box-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);
    margin:0; padding:0;

}

.road-sign .cash-pool, .road-sign .core-pool {
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 0.7em;
  margin: 5px 0 0 5px;
  font-weight: bold;
  letter-spacing: 1px;
}
.road-sign .cash-pool, .road-sign .core-pool {
  margin-top: 3em;
}
.road-sign .cash-pool span, .road-sign .core-pool span {
  float: right;
  padding-left: 1em;
  margin-right:5px;
  font-weight: bold;
  letter-spacing: 1px;
}
.road-sign .cash-pool h6, .road-sign .core-pool h6 {
  margin: 0;
  font-weight: normal;
  color: #F8D448;
}

.tab {
  background:#FFCD5D;
  color:#444;
  font-size:7px;
  padding:4px 2px;
  text-align:center;
  position:absolute;
}

.tab-top {
  right:-2px;
  top:3px;
  transform: rotate(-4deg);

}

.tab-bottom {
  right:-5px;
  bottom:-6px;
  transform: rotate(7deg);

}

.waiting-sign {
  border: 2px solid #222;
  border-radius: 10px;
  position: absolute;
  left: 40px;
  bottom: 35%;
  z-index: 99;
  width: 70px;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.3);
}

.waiting-sign .sign-border {
  background:#222;
  border:2px solid #fff;
  padding:5px;
  border-radius: 10px;
}

.waiting-sign div {
  text-align:center;
}

.waiting-sign h5 {
  font-size:1rem;
  line-height:1;
  text-align:center;
  color:#fff;
  margin:0;
  padding:0.7rem 0;
}

.waiting-sign .sign-title {
  background:#fff;
  border-radius:3px;
  line-height:1;
  text-transform: uppercase;
  padding:3px;
  text-align:center;
  color:#222;
  padding:3px 2px 1px;
  font-size:7px;
  font-weight:bold;
  font-family:sans-serif;
  margin:0;
}

.whitepaper {
  position:absolute;
  bottom:37%;
  left:30%;
  z-index:9;
  }
.whitepaper i {
  color:#999;
  background:#fff;
  border-radius: 0 7px 0 0;
  transform: rotate(35deg);
}

.whitepaper a{
  display:block;
}

.btn {
  background-color: #F0952D;
  padding: 10px 3em;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  bottom: 39%;
  left: 10px;
  z-index: 99;
  position: absolute;
}
.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.85);
  top: 55%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}
.modal-window>div {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  background: #fff;
  color: #444;
}
.modal-window header {
  font-weight: bold;
}
.modal-close {
  color: #222;
  background: #d2d2d2;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 60px;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.modal-close:hover {
  color: #444;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
.modal-window img {
  width: 150px;
  height: 150px;
  margin: 0 10px 10px 0px;
  display: block;
  float: left;
}
.modal-window p.label {
  background: #ddd;
  border-radius: 3px;
  line-height: 1;
  padding: 10px;
  clear: both;
  text-align: center;
}
.modal-column {
  width: 30%;
  float: left;
  margin-right: 1%;
}


#confirmed-notify {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 100;
  display: none;
  font-weight:bold;
  font-family:sans-serif;
}

.confirmed-text{
  position:relative;
  top: -50%;
  left:-50%;
  text-align: center;
  background: rgba(255,255,255,0.7);
  border-radius:3px;
  padding:1rem;
  color:#222;
  font-weight:bold;
  font-family:sans-serif;
}

.confirmed-text p {
  color:#222;
}

.text-center {
  text-align:center;
}

#page {
    display: none;
    position:absolute;
    
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    height:100%;
    width:100%;
    width: 100vw;
    height: 100vh;
    background-color: #f8f8f8;
    background-image: url("assets/blockchain.gif");
    background-repeat: no-repeat;
    background-position: center;
}

/* The switch - the box around the switcher */
.switch-wrap {
  text-align:left;
  padding-left:100px;
}
.switch-wrap h5{
  display:block;
  margin-top:-30px;
  padding-left:70px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top:20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The switcher */
.switcher {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #149347;
  -webkit-transition: .4s;
  transition: .4s;
}

.switcher:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switcher {
  background-color: #ccc;
}

input:focus + .switcher {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switcher:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(31, 146, 74, 0.99);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(35, 167, 85, 0.99);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(31, 146, 74, 0.99);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(27, 125, 63, 0.99);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(31, 146, 74, 0.99);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  height: 11.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(31, 146, 74, 0.99);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(35, 167, 85, 0.99);
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #1f924a;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #dddddd;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #23a755;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #1f924a;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #dddddd;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #1b7d3f;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #1f924a;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #dddddd;
  cursor: pointer;
  height: 11.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #1f924a;
}
input[type=range]:focus::-ms-fill-upper {
  background: #23a755;
}




.switch label {}

/* Rounded switchers */
.switcher.round {
  border-radius: 34px;
}

.switcher.round:before {
  border-radius: 50%;
}
#modal-settings hr {
  margin:1em 0;
  border-color:#eee;
}
#modal-settings #slidecontainer {
  position:relative;
  right:auto;
  top:auto;
}
#modal-settings #slidecontainer input {
  display:block;
}
#modal-settings #slidecontainer label {
  color:#222;
  margin:0 0 -5px 0;
  font-family:sans-serif;
  letter-spacing:1px;
}


/* Range Slider for speed control */
#slidecontainer {
  width: auto; 
  position: absolute;
  right: 240px;
  top: 15px;
}
#slidecontainer label {
  color:#fff;
  font-size:9px;
  margin:0;
  line-height:1;
  display:inline-block;
  vertical-align: middle;
  margin-top:-10px;
}


#tx-wrap {
  position: absolute;
  top: 0px;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  z-index:99;
  width:150px;
  -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    overflow:visible;
    border-left:1px solid #444;
    background:#009444;
}
#transactions{
  list-style:none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-align:center;
  overflow-y: scroll;
  
}

#transactions li {
  background-size: 20%;
  background-repeat: no-repeat;
}

#tx-list-button {
  position:fixed; 
  top: 5px;
  right: 190px;
}

#tx-list-button i{
  color: #fff;
  font-size: 1.7rem;
  padding: 5px;
}

.txinfo-cash{
  background: #F0952D url('assets/bch.png') no-repeat 5px center;
  white-space: pre;
  border-bottom: solid 1px #555;
  background-size:24px;
  text-align:right;
  padding-right:3px;
}

.txinfo-core{
  background: #888 url('assets/btc.png') no-repeat 5px center;
  white-space: pre;
  border-bottom: solid 1px #555;
  background-size:24px;
  text-align:right;
  padding-right:3px;
}
.txinfo-core:before {

}

@media only screen and (max-width:767px) {
  .nav {
    top:50px;
  }
  
  .nav a i {
    line-height:1;
  }

  .two-col {
    width:auto;
    float:none;
  }

  .switch-wrap {
    padding-left:0;
  }

  span.divider {
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }



  .title {
    width: 170px;
    top: 15px;
  }
  .title h2 {
    display: none;
  }
  .bitcoin-cash, .bs {
    background-size: 45% !important;
  }
  .bitcoin-cash {
    background-position:50% 60%;
  }

  

  

  

  .modal-body {
    overflow:hidden;
  }

  table tr td img {
    max-height:28px;
  }
  table tr td .qmark {
    font-size:2rem;
  }
  .modal-content {
    width:96%;
    left: 2%;

  }
  .qmark {
    margin:0;
  }
  .modal {padding-top:30px;}
  .modal-header h2 {
    font-size:1.2rem;
  }
  #modal-donate .qr {
    width:90px;
    padding:1rem 1rem 1rem 0;
  }
  #modal-donate .modal-header p {
    display:none;
  }
  #modal-donate .modal-header h2 {
    margin:5px 0 5px;
  }
}

@media screen and (max-width: 600px){

    #tx-list-button {
    
    right:auto;
    left:5px;
    top:195px;

    }

  .core-road-sign {
    bottom:10px;
    right:10px;
  }

  .cash-road-sign {
    top:10px;
    right: 10px;
    left: auto;
    bottom: auto;
  }

  #modal-search fieldset {
    display:block;
    width:auto;
    margin:0 0 5px;
    text-align:center;
  }
  .modal-header h2 {
    font-size:1rem;
  }
  .modal-footer h3 {
    font-size:0.7rem;
  }
  #modal-search fieldset {
    padding:5px;
  }
  #modal-donate p.label {
    font-size:11px;
  }
  table tr td h6 {
    font-size:0.9rem;
    font-weight:normal;
  }
  table tr td img {
    max-height:25px;
  }
  
  
  .ln {
    background-size: cover;
    background-position: 45% 0;
  }
}

@media screen and (max-width: 460px){
  
    .cash-road-sign {
      top: 60px;
    }    
  }