html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #9A857A;
}

h1,h2,h3,h4,h5,h6 {
  font-family:sans-serif;
}

#renderCanvas {
  z-index: -500;
  display: block;
  margin: 0 auto;
  touch-action: none;
}
/*.cash-pool,.core-pool, .title {
  position: absolute;
}*/

.title {
  position: absolute;
}
span {
  display: block;
}
/*#logo {display:none;}*/

.title {
  top: 5px;
  left: 5px;
  width: 300px;
}
.title img {
  max-width: 100%;
}
.title h2 {
  font-size: 17px;
  color: #231F20;
  margin-top: 5px;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.nav {
  left:0;
  top:100px;
  position:absolute;
}
.nav a {
  display:block;
  margin:0px 10px 8px 10px;
  cursor:pointer;
}

.nav a:hover i, .nav a:focus i {
  color:#149347;
}
.nav i {
  color:#fff;
  font-size:1.7rem;
  padding:5px;
}


.core-nav {
  left:0;
  top:420px;
  position:absolute;
}
.core-nav a {
  display:block;
  margin:0px 10px 8px 10px;
  cursor:pointer;
}

.core-nav a:hover i, .core-nav a:focus i {
  color:#1D83A1;
}
.core-nav i {
  color:#fff;
  font-size:1.7rem;
  padding:5px 10px 5px;
}


/*shoutout to the modal switcher here: https://jsfiddle.net/jnwrc5ay/245/*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*padding-top: 100px; */
    left: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    z-index:9999;
    /*background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); */
}

/* Modal Content */
.modal-content {
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 15px 27px 0 rgba(0,0,0,0.3), 0 4px 38px 0 rgba(0,0,0,0.39);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    bottom:0;
    left:10%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {bottom:-300px; opacity:0} 
    to {bottom:0; opacity:1}
}
@keyframes animatetop {
    from {bottom:-300px; opacity:0}
    to {bottom:0; opacity:1}
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content .modal-header {
    padding: 2px 16px;
    background-color: #F0952D;
    color: white;
}
.modal-content .modal-header p {
  margin: 5px 0 10px;
  font-size: 12px;
}
.modal-content .modal-header h2 {margin:10px 0 0; padding:0;}
.modal-body {padding: 2px 16px;}
.modal-footer {
    padding: 2px 16px;
    background-color: #F0952D;
    color: white;
}

.modal-footer h3 {
  padding:0; margin:8px 0;
  font-size:0.8rem;
}

.modal-footer a, .modal-footer a:visited {
  color:#149347;
  text-decoration:none;
}

.modal-footer a:hover {
  text-decoration: underline;
}

table {
    table-layout: fixed;
    width: 100%;
    /*white-space: nowrap;*/
    text-align:left;
}
table thead th.col-type {
  width:60%;
  padding:0 0 0 1.5rem;
}

table thead th.col-val {
  width:40%;
  text-align:left;
}

table tr td img {
  max-height:70px;
  padding:0;
}

table tr td h6 {
  font-size:1.1rem;
  margin:0;

}

.qmark {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 3rem;
}

#modal-donate .qr {
  float:left;
  width:120px;
  padding:1rem 2rem 1rem 0;
}
#modal-donate p.label {
  background:#eee;
  border-radius:3px;
  line-height:1;
  padding:0.5rem;
  float:left;
  text-align:center;
}
#modal-donate p {
  /*margin:1.5rem 0 0.5rem;*/
}
#modal-donate .modal-footer {
  clear:both;
}






.lane-size {
  position: absolute;
  right: 2px;
  color: #c2c2c2;
  font-size: 16px;
  text-transform: uppercase;
  z-index: 2;
  font-family: sans-serif;
}
.lane-size.one {
  top: 3%;
}
.lane-size.two {
  top: 10%;
}
.lane-size.three {
  top: 17%;
}
.lane-size.four {
  top: 24%;
}
.lane-size.five {
  top: 32%;
}
.lane-size.six {
  top: 39%;
}
.lane-size.seven {
  top: 46%;
}
.lane-size.eight {
  top: 53%;
}
.lane-size.one-core {
  top: 67%;
}
.lane-size.two-core {
  top: 74%;
  text-decoration: line-through;
}
.block {
  position: absolute;
  top: 72.5%;
  z-index: 2;
  background: url('assets/bg/block.png') no-repeat;
  background-size: 50%;
  width: 27px;
  height: 110px;
}
.block.one {
  left: 55px;
}
.block.two {
  right: 55px;
}

.caution {
  position: absolute;
  z-index: 2;
  background: url('assets/bg/caution.png') no-repeat;
  background-size: 50% 50%;
  width: 40px;
  height: 40px;
}
.caution.one {
  top: 73.5%;
  left: 20px;
}

.caution.two {
  top: 73.5%;
  right: 20px;
}

.no2x {
  position: absolute;
  z-index: 2;
  background: url('assets/bg/no2x.png') no-repeat;
  background-size: 80%;
  width: 48px;
  height: 48px;
}

.no2x.one {
  top: 71.7%;
  left: 85px;
}

.no2x.two {
  top: 71.7%;
  right:85px;
}


.ln {
  position:absolute;
  bottom:-10px;
  left:0;
  width:100%;
  height:102px;
  width:100%;
  background:url('assets/bg/ln.png') no-repeat;
  background-size:80%;
}
.options {
  top: 10px;
  right: 10px;
}
/*
.cash-pool {
  bottom: 37.6%;
  right: 0;
  text-align: center;
  background-color: greenyellow;
  z-index:99;
}

.core-pool {
  right: 0;
  bottom: 0%;
  text-align: center; 
  background-color: white;
  z-index:4;
}*/

span.divider {
  background: url('assets/bg/divider.png') repeat-x;
  background-size: 50% 50%;
  width: 100%;
  height: 70px;
  position: absolute;
  top: 57%;
  left: 0;
  z-index: 8;
}
.bitcoin-cash {
  background: #9EA0A3 url('assets/bg/bitcoin-cash-logo.png') no-repeat center 69%;
  background-size: 21.5%;
  height: 57%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.bs {
  background: #9EA0A3 url(assets/bg/bs.png) no-repeat center 0;
  background-size: 18.5%;
  height: 14.4%;
  width: 100%;
  position: absolute;
  bottom: 21.4%;
  left: 0;
  z-index: -1;
}

.road-sign {
  border: 3px solid #245934;
  border-radius: 10px;
  position: absolute;
  right: 40px;
  bottom: 35%;
  z-index: 99;
  width: 250px;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.3);
}

.road-sign .sign-border {
  background: #245934;
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 0.5em;
}
.road-sign .highway-num {
  color: #F9D536;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 0.8em;
  position: absolute;
  left: 10px;
  top: 19px;
  margin: 0;
}
.road-sign .sign-title {
  color: #245A35;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 0.8em;
  background: #fff;
  border-radius: 3px;
  line-height: 1;
  padding: 4px;
  width: 80%;
  position: absolute;
  right: 10px;
  top: 10px;
  margin: 0;
  display: inline-block;
  text-align: center;
}
.road-sign .cash-pool, .road-sign .core-pool {
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 0.8em;
  margin: 5px 0;
  font-weight: bold;
  letter-spacing: 1px;
}
.road-sign .cash-pool {
  margin-top: 3em;
}
.road-sign .cash-pool span, .road-sign .core-pool span {
  float: right;
  padding-left: 1em;
  font-weight: bold;
  letter-spacing: 1px;
}
.road-sign .cash-pool h6, .road-sign .core-pool h6 {
  margin: 0;
  font-weight: normal;
  color: #F8D448;
}
.btn {
  background-color: #F0952D;
  padding: 10px 3em;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  bottom: 39%;
  left: 10px;
  z-index: 99;
  position: absolute;
}
.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.85);
  top: 55%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}
.modal-window>div {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  background: #fff;
  color: #444;
}
.modal-window header {
  font-weight: bold;
}
.modal-close {
  color: #222;
  background: #d2d2d2;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 60px;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.modal-close:hover {
  color: #444;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
.modal-window img {
  width: 150px;
  height: 150px;
  margin: 0 10px 10px 0px;
  display: block;
  float: left;
}
.modal-window p.label {
  background: #ddd;
  border-radius: 3px;
  line-height: 1;
  padding: 10px;
  clear: both;
  text-align: center;
}
.modal-column {
  width: 30%;
  float: left;
  margin-right: 1%;
}


#confirmed-notify {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 100;
  display: none;
}

.confirmed-text{
  position:relative;
  top: -50%;
  left:-50%;
  text-align: center;
  background: rgba(255,255,255,0.7);
  border-radius:3px;
  padding:1rem;
  color:#222;
}

.confirmed-text p {
  color:#222;
}

@media only screen and (max-width:767px) {
  .title {
    width: 170px;
    top: 10px;
  }
  .title h2 {
    display: none;
  }
  .bitcoin-cash, .bs {
    background-size: 40% !important;
  }

  table tr td img {
    max-height:28px;
  }
  table tr td .qmark {
    font-size:2rem;
  }
  .modal-content {
    width:96%;
    left: 2%;

  }
  .qmark {
    margin:0;
  }
  .modal {padding-top:30px;}
}

@media screen and (max-width: 480px){
  .road-sign {
    bottom:0;
  }
}